@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95vw;
  }
  .all-button {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    padding-inline-start: 0;
  }
  .banner-img img {
    height: 360px;
    width: 100%;
  }
  .banner {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .banner-img {
    width: 50%;
  }
  .video-container {
    gap: 20px;
  }
  footer {
    padding: 120px 20px;
  }
}

@media screen and (max-width: 576px) {
  .nav,
  .menu,
  .play {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 90vw;
  }
  .banner-img img {
    height: 360px;
  }
  .play {
    text-align: center;
    gap: 40px;
  }
  .games {
    width: 260px;
  }
  .game-2 {
    width: 80px;
    margin-top: -100px;
    margin-left: -220px;
  }
}
